

a:hover{
color: greenyellow;
}

body{ 
background-color: rgb(198, 132, 241);
}



    
header {
  width: auto;
  max-width: auto;
  text-align: auto;
  background: rgb(247, 245, 245);
 color: white;
 

}

 
#pricing {

  align-items: center;
  text-align: center;
}
.price-box {
  border: solid rgb(227, 252, 6) 2px;
  border-radius: 4px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 245, 245);
  top: 0;
  width: 100%;
}



li a {
  display: block;
  color: black;
  text-align:justify;
  padding: 10px 10px;
  text-decoration: none;
}

li{
  position: sticky
  
}
#pricing {
  flex-direction: column;
}

#pricing .price-box {
  margin: 1rem;
}

.price-box:first-child {
  margin-right: 0;
}

.price-box:last-child {
  margin-left: 0;
}

